
.Homepage {
    background-color: #CF9FFF;
}

.navbar {
    width:100%;
    margin-left: auto ;
    margin-right: auto ;
}

.navbar ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    margin: 20px auto;
    padding: 0px;
    display:table;
    overflow: hidden;
}
  


li a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

}

.header {
    margin: 20px;    

}

.content {
    display:inline;
    float:left;
    width: 45%;
    margin-right: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 





li {
    border-radius: 5px;
    padding: 10px;
    margin-left:10px;
    background-color: #F7A4A4;
    font-family: Arial, Helvetica, sans-serif;
    display:inline;
    float: left;
    width: 200px;
}

section {
    margin-left:20px;
}




span {
    color: #212529;
}

.container {
    position: relative;
    text-align: center;
}

.clicked {
    color: red;
}

.image {
    height: 540;
    width: 540;
}



html {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap") format("woff2");
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    margin: 0;
    font-family: 'Inter' , sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  } 
  